.form {
  display: flex;
  flex-direction: column;

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4b5562;
    font-size: 1.29rem;
    color: #4b5562;
    padding-bottom: 1.07rem;
    opacity: 0.5;
    position: relative;

    &:focus {
      outline: none;
      opacity: 1;
      border-color: #2c4058;
      color: #2c4058;
    }
  }

  &__label {
    visibility: hidden;
    margin-bottom: 1.43rem;
    font-size: 10px;
    color: red;
  }

  &__btn {
    align-self: flex-end;
    width: 45%;
  }
}
