@media (max-width: 1024px) {
  .header {
    &__title {
      font-size: 1.2em;
      letter-spacing: 0;
    }

    &__text {
      letter-spacing: 3px;
    }
  }

  .gallery {
    padding: 3em 0 2em 0;

    &__title {
      padding-bottom: 1em;
    }

    &__btn {
      width: 20%;
      margin-top: 4rem;
    }
  }

  .contact {
    &__wrapper {
      width: 75%;
    }

    &__btn {
      width: 50%;
    }
  }

  .footer {
    &__wrapper {
      width: 75%;
    }
  }
}
